body {
  background-color: black;
  color: gold;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 50px;
}
h2 {
  font-size: 2em;
  margin-top: 30px;
}


