
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9a7e1e;
  color: gold;
  font-family: Arial, sans-serif;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

button {
background-color: #9a7e1e;
  color: gold;
  font-family: Arial, sans-serif;
  text-align: center;
}

