
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9a7e1e;
  color: gold;
  font-family: Arial, sans-serif;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

button a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: gold;
  color: #9a7e1e;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
   font-size: larger;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #9a7e1e;
    color: gold;
  }
}




